<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianhua.datafactory.infrast.dao.mapper.FieldModelMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianhua.datafactory.infrast.dao.dataobject.FieldModelDO">
        <result column="id" property="id" />
        <result column="field_name" property="fieldName" />
        <result column="field_desc" property="fieldDesc" />
        <result column="field_type" property="fieldType" />
        <result column="field_doc" property="fieldDoc" />
        <result column="status" property="status" />
        <result column="field_ext_json" property="fieldExtJsonStr" />
        <result column="param_class_name" property="paramClassName" />
        <result column="project_code" property="projectCode" />
    </resultMap>

    <!--查询总数-->
    <resultMap type="java.lang.Integer" id="count">
        <result column="total"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,field_name,field_type,field_desc,field_doc,status,field_ext_json,param_class_name,project_code
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tianhua.datafactory.infrast.dao.dataobject.FieldModelDO" useGeneratedKeys="true">
        insert into field_model(
        field_name,field_type,field_desc,field_doc,status,field_ext_json,param_class_name,project_code
        )
        values(
        #{fieldName},#{fieldType},#{fieldDesc},#{fieldDoc},#{status},#{fieldExtJsonStr},#{paramClassName},#{projectCode}
        )
    </insert>

    <update id="update" parameterType="com.tianhua.datafactory.infrast.dao.dataobject.FieldModelDO">
        update field_model
        set
        field_name=#{fieldName},field_type=#{fieldType},field_desc=#{fieldDesc},field_doc=#{fieldDoc},status=#{status},field_ext_json=#{fieldExtJsonStr},param_class_name=#{paramClassName},project_code=#{projectCode}
        where  id = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from field_model  where status in(0,1)
    </select>

    <select id="getById" parameterType="com.tianhua.datafactory.infrast.dao.dataobject.FieldModelDO"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from field_model  where id = #{id} and status in(0,1)
    </select>

    <delete id="deleteById" >
        delete from field_model where id = #{id}
    </delete>

    <select id="getPageList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from field_model where status in(0,1)
    </select>

    <select id="getCount" resultMap="count">
        select count(1)  from field_model where status in (0,1)
    </select>

    <delete id="deleteByProjectCodeAndParamClassName">
        delete from field_model where   project_code=#{projectCode} and param_class_name=#{paramClassName}
    </delete>

    <select id="getByCode" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />   from field_model where   project_code=#{projectCode} and param_class_name=#{paramClassName}  and status in(0,1)
    </select>

    <select id="getByCodeField" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />   from field_model where   project_code=#{projectCode} and param_class_name=#{paramClassName} and field_name=#{fieldName} and status in(0,1)
    </select>

</mapper>
