<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.tianhua.datafactory.core.mapper.DataSourceDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity">
        <result column="id" property="id" />
        <result column="data_source_id" property="dataSourceId" />
        <result column="data_content_json" property="dataContentJson" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,data_source_id,data_content_json
    </sql>

    <insert id="insert" parameterType="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity">
        insert into data_source_detail(
        data_source_data_content_json
        )
        values(
        #{data_source_id},#{data_content_json}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity">
        update data_source_detail
        set
        data_source_id=#{data_source_id},data_content_json=#{data_content_json}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity">
        select <include refid="Base_Column_List" />  from data_source_detail
    </select>

    <select id="getById" parameterType="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity"
            resultType="com.lightsnail.tianhua.datafactory.core.entity.DataSourceDetailEntity">
        select <include refid="Base_Column_List" /> from data_source_detail  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from data_source_detail where id = #{id}
    </delete>

</mapper>
